@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Poppins:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --glass: rgba(255,255,255,0.6);
}

html,body,#root{ height:100% }
body{
  @apply bg-bg text-text font-body;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
.btn {
  @apply inline-flex items-center justify-center px-4 py-2 rounded-lg font-semibold;
}
